.data_table_header {
    display: flex;
    justify-content: space-evenly;
    .data_column {
        border:1px solid;
        width: 100%;
        text-align: center;
        background-color: #f1f0f0;
    }
}