.data_table_wrapper {
    width: 80%;
    margin: auto;
    .data_table_header {
        display: flex;
        justify-content: space-evenly;
    }
    .data_table_record_container {
        height: 600px;
        overflow-y: scroll;
    }
}
