.selects-group-container {
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.date-select {
    width: 200px;
}
.stock-code-select {
    width: 100px;
    margin-right: 30px;
}