.data_column {
    border:1px solid;
    width: 100%;
    text-align: center;
    background-color: #3399ff;
    color: white;
    &:hover {
        cursor: pointer;
        background-color: #2789ea;
    }
}